body {
    width: 40%;
    color: white;
    margin-left: 5%;
    text-shadow: 0.5px 0.5px 1px #ffffff;
}

h1 {
    color: white;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 28px;
    margin-bottom: 24px;
}

.clickable {
    color: aqua;
    cursor: grab;
}

.clickable:hover {
    color: orange;
}

.hidden {
    display: none;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}